.features {

  ul {

  margin-left: 0;

  padding-left: 15px;

  }

}

.jumbotron {

  background-image: asset-url('meeting.png');

  background-size: cover;

  color: #fff;

  font-family: 'Helvetica Neue' !important;

  font-stretch: expanded;

  padding-top: 95px;

  padding-bottom: 95px;

  margin-left: 15px;

  margin-right: 15px;

  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

    h2 {

      font-size: 35px !important;

      .lead {

      font-family: 'Helvetica Neue' !important;

      font-size: 30px !important;

    }

  }

}

.plan {

  border: 1px solid #e7e7e7;

  border-radius: 5px;

  margin-right: 5px;

}

.price {

  font-weight: 700;

  size: 120%;

}

.sign-up {

  margin-top: 5px;

}

.extra {

  color: #5cb85c;

}

.no-side-padding {

  padding-left: 0;

  padding-right: 0;

}

.no-left-padding {

  padding-left: 0 !important;

}

.no-right-padding {

  padding-right: 0 !important;

}

.table tr td {

  a.main-link {

  color: #428bca;

}

a.main-link:hover {

  background: none;

}

}



.logout {

  padding-left: 0;

  }

  